nb-list-item:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(186,186,186,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(186,186,186,1);
    box-shadow: 1px 1px 5px 0px rgba(186,186,186,1);
}