@import url('./fonts.scss');
@import url('../fonts/font-awesome/css/all.min.css');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// Our variables
@import './variables.scss';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};

* {
  font-family: 'Exo 2', sans-serif;
}

.full-width-wrapper {
  flex: 1
}

// Костыли для шрифта
.nb-theme-corporate {
  [nbButton] {
    font-family: 'Exo 2' !important;
  }
  
  nb-user .user-name {
    font-family: 'Exo 2' !important;
  }

  nb-card-header {
    font-family: 'Exo 2' !important;
  }

  nb-select button {
    font-family: 'Exo 2' !important;
  }
}

.user-container:hover {
  cursor: pointer;
}
